
<table class='table-window-ingredients table' >
  <tr>
    <th>Ingredient</th>
    <% @order.ingredient_table_head.each do |h_product| %>
    <th><%= h_product.name %></th>
    <% end %>
    <th>Total</th>
  </tr>
  <% @order.ingredient_table.each do |ingredient, ing_products| %>
  <% @total_item = 0 %>
  <tr class='line_items'>
    <td><%= ingredient.name %></td>

    <% @order.ingredient_table_head.each do |h_product| %>
    <td>
      <% if current_product = ing_products.detect{|j| h_product.id == j.product_id} %>
      <% @current_item = current_product.product.amount_ingredient(ingredient) * current_product.item.quantity; @total_item += @current_item %>
      <%= @current_item %>
      <%= ingredient.unit %>
      <% end %>
    </td>
    <% end %>


    <td><%= @total_item %><%= ingredient.unit %></td>
  </tr>
  <% end %>
</table>
