<% content_for :head do %>
  <%= javascript_include_tag states_url(:format => :js) %>
  <%= javascript_include_tag countries_url(:format => :js) %>
<% end %>

<h1><%= accurate_title %></h1>

<div data-hook="account_summary" class="account-summary">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
  <%= form_for @user, :url => spree.user_path(@user), :method => :put do |f| %>
  <p>
    <%= f.label :email, t(:email) %><br />
    <%= f.email_field :email, :class => 'title' %>
  </p>

  <p>
    <%= f.label :first_name, t(:first_name) %><br />
    <%= f.text_field :first_name, :class => 'title' %>
  </p>

  <p>
    <%= f.label :last_name, t(:last_name) %><br />
    <%= f.text_field :last_name, :class => 'title' %>
  </p>


  <p>
    <%= f.submit t(:update), :class => 'button primary' %>
  </p>
  <% end %>

</div>
<%= render :partial => "addresses"%>

<div class="columns alpha twelve">

<h3>About me</h3>
<div class="">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
  <%= form_for @user, :url => spree.user_path(@user), :method => :put do |f| %>

  <p>
    <%= f.label :health_issues, t(:health_issues) %><br />
    <%= f.text_field :health_issues, :class => 'title' %>
  </p>

  <p>
    <%= f.label :fitness_goals, t(:fitness_goals) %><br />
    <%= f.text_field :fitness_goals, :class => 'title' %>
  </p>
  <p>
    <%= f.label :fitness_routines, t(:fitness_routines) %><br />
    <%= f.text_field :fitness_routines, :class => 'title' %>
  </p>

  <p>

    <legend>Cats: <%= link_to "add", '#', :id => "add_new_cat" %><legend>
        <table width="" cellspacing="" cellpadding="" border="0" id="table-cats">
          <tr>
            <th>Name</th>
            <th>weight</th>
            <th></th>
          </tr>

          <%= f.fields_for :cats,  current_user.cats_or_build do |cat_form| %>
          <tr>
            <td>
              <%= cat_form.text_field :name, id: nil %>
            </td>
            <td>
              <%= cat_form.text_field :weight, id: nil %>
            </td>

            <td>
              <% unless cat_form.object.new_record? %>
              <%= cat_form.label :_destroy, :style => "display:block;width:90px;" do %>
              Remove: <%= cat_form.check_box :_destroy %>
              <% end %>
              <% end %>
            </td>

          </tr>
          <% end %>
        </table>
  <p>
    <%= f.submit t(:update), :class => 'button primary' %>
  </p>
  <% end %>

</div>

</div>
